/* Margins */

.marginTop{
	margin-top:10px;
}
.text-center, .text-right, .text-left{
	margin-bottom:20px;
	margin-top:20px;
}
p{
	margin-bottom:10px;
	margin-top:10px;
	font-size:18px;

}

.mainCont { padding-top: 40px; }

.table th {
   text-align: center;   
}


/* Colors */

h1, h2, h3, h4, h5{
	color:#474747;
	background-color:transparent;
}

p {
	color: #474747;
	background-color:transparent;
}

.background-grey{
	background-color:#636374;
	
}
.background-grey h1, .background-grey h2, .background-grey h3, .background-grey h4, .background-grey h5, .background-grey p{
	color:#DDDDFF;
	background-color:transparent;
}



/* Dropdown meme picker */

body { padding: 40px; }
.dropdown-toggle, .dropdown-menu { width: 300px }
.btn-group img { margin-right: 10px }
.dropdown-toggle { padding-right: 50px }
.dropdown-toggle .glyphicon { margin-left: 20px; margin-right: -40px }
.dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
.dropdown-header { background: #ccc; font-size: 14px; font-weight: 700; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 5px }
